.button {
    font-size: 20px;
    width: 30%;
    margin-bottom: 20px;
    color: #e87e04;
    margin-top: 100px;
}

.eightBall {
    background-image: url('images/blackball.png');
    background-size:cover;
    padding-bottom: 250px;
    padding-top: 100px;
    margin-bottom: 10px;
}

#message {
    color: #e87e04;
    text-align: center;
}
