<div style="text-align:center">
    <input type="button" class="button" value="Shake" onclick="getMessage()"/>
</div>

<div class="row">
    <div class="eightBall img-responsive">
        <p id="message"></p>
    </div>
</div>